## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [2]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [3]:
# Your code here
import random
sample_list_1=random.sample(range(101), k=80)
print(sample_list_1)

[7, 2, 86, 63, 92, 73, 5, 49, 70, 44, 82, 53, 17, 64, 58, 45, 97, 4, 88, 74, 10, 93, 61, 0, 85, 79, 21, 67, 91, 39, 31, 78, 52, 24, 57, 12, 43, 6, 55, 48, 51, 1, 15, 87, 69, 56, 18, 68, 36, 76, 98, 19, 72, 89, 38, 34, 59, 29, 96, 13, 40, 81, 46, 71, 90, 77, 37, 33, 62, 28, 66, 94, 95, 20, 27, 22, 32, 42, 54, 25]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [4]:
# Your code here
set1=set(sample_list_1)
print(len(set1))

#yes! the length of set is still 80

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [5]:
# Your code here
import random
sample_list_2 = []

for i in range(80):
    sample_list_2.append(random.randint(0, 100))

print(sample_list_2)

[33, 65, 53, 91, 78, 93, 27, 78, 84, 33, 23, 32, 43, 43, 86, 58, 81, 53, 11, 19, 63, 32, 82, 4, 75, 95, 9, 12, 53, 20, 65, 51, 59, 32, 18, 84, 85, 72, 1, 86, 60, 56, 25, 92, 46, 0, 0, 73, 50, 99, 58, 3, 7, 34, 2, 65, 4, 90, 26, 71, 84, 33, 13, 97, 70, 24, 87, 9, 23, 52, 1, 66, 17, 77, 89, 12, 62, 90, 2, 87]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [7]:
# Your code here
set2=set(sample_list_2)
#print(set2)
print(len(set2))

#answer: yes, it's still 80, but I don't really understand why it's always 80 no matter how many time I regenerate sample_list_2, should be equal or less than 80?

57

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [62]:
# Your code here
set3=set1-set2
print(set3)

{0, 3, 4, 7, 9, 13, 14, 20, 21, 24, 25, 26, 32, 33, 37, 41, 42, 43, 44, 46, 48, 60, 64, 65, 69, 72, 73, 74, 77, 79, 80, 84, 86, 87, 88, 90, 92, 93}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [63]:
# Your code here
set4=set2-set1
print(set4)

{6, 11, 12, 75, 15, 16, 18, 51, 59, 62, 31}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [67]:
# Your code here
set5=set1&set2
print(set5)

{1, 2, 5, 8, 10, 17, 19, 22, 27, 28, 29, 30, 34, 35, 38, 39, 40, 47, 49, 52, 53, 54, 55, 56, 57, 66, 67, 68, 70, 71, 76, 78, 81, 85, 89, 91, 95, 96, 97, 98, 99, 100}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [8]:
# Your code here
print(len(set2)>=len(set1)>=len(set5)>=len(set3)>=len(set4))

False

#### Create an empty set called `set6`.

In [89]:
# Your code here
set6=set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [90]:
# Your code here
set6.update(set3)
set6.update(set5)
print(set6)

{0, 1, 2, 3, 4, 5, 7, 8, 9, 10, 13, 14, 17, 19, 20, 21, 22, 24, 25, 26, 27, 28, 29, 30, 32, 33, 34, 35, 37, 38, 39, 40, 41, 42, 43, 44, 46, 47, 48, 49, 52, 53, 54, 55, 56, 57, 60, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 76, 77, 78, 79, 80, 81, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 95, 96, 97, 98, 99, 100}

#### Check if `set1` and `set6` are equal.

In [91]:
# Your code here
print(set1==set6)

#answer: yes, it's equal

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [93]:
# Your code here
print(set2.issubset(set1)) #check if set2 is a subset of set1,True: 1 contains 2
print(set3.issubset(set1))

#answer: set1 doesn't contain set2, set1 contains set3

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [94]:
# Your code here
a = set3.union(set4,set5)
b = set1.union(set1,set2)
print(a==b)

#answer: yes, aggregated values are equal

True

#### Using the `pop` method, remove the first element from `set1`.

In [102]:
# Your code here
lst1=list(set1)
lst1.pop(0)
print(set(lst1))
print(len(lst1))

{1, 2, 3, 4, 5, 7, 8, 9, 10, 13, 14, 17, 19, 20, 21, 22, 24, 25, 26, 27, 28, 29, 30, 32, 33, 34, 35, 37, 38, 39, 40, 41, 42, 43, 44, 46, 47, 48, 49, 52, 53, 54, 55, 56, 57, 60, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 76, 77, 78, 79, 80, 81, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 95, 96, 97, 98, 99, 100}
79

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [106]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
for i in list_to_remove:
    if i in set1:
        set1.remove(i)

print(set1)
print(len(set1))

{0, 2, 3, 4, 5, 7, 8, 10, 13, 14, 17, 20, 22, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 37, 38, 40, 42, 43, 44, 46, 47, 48, 52, 53, 54, 55, 56, 57, 60, 64, 65, 66, 67, 68, 70, 72, 73, 74, 76, 77, 78, 80, 84, 85, 86, 87, 88, 90, 92, 93, 95, 96, 97, 98, 100}
65